$secondaryColor: #5CB8E6;
$transparent: rgba(255, 255, 255, 0.75);
$superTransparent: rgba(255, 255, 255, 0.55);

/* Skill percentages */
$skillRuby: 70%;
$skillUnix: 80%;
$skillPhp: 80%;
$skillJs: 70%;
$skillAngular: 80%;
$skillBackbone: 80%;
$skillTesting: 60%;
$skillJava: 30%;

html, body {
  width: 100%;
  margin: 0;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

  a {
    color: $secondaryColor;
    font-size: 15px;
  }
}

h2 {
  text-align: center;
}

.container {
  position: fixed;
  height: 100%;
  width: 100%;
  background: URL('/background.jpg') no-repeat center center fixed;
  background-size: cover;
}

article.welcome {
  position: absolute;
  bottom: 0;
  width: 95%;
  min-height: 20%;
  padding: 2.5%;
  background-color: $superTransparent;

  section {
    margin-right: 35px;

    header {
      font-wight: bold;
      font-size: 30px;
    }

    .links {
      text-align: center;

      span {
        margin: 0px 10px 0px 0px;
      }
    }
  }

  .social-links {
    position: absolute;
    right: 20px;
    top: 0;

    ul {
      list-style: none;

      a {
        &:hover {
          fill: $secondaryColor;
        }
      }

      @media (max-width: 768px) {
        position: fixed;
        top: 0;
        left: 0;
        list-style-type: none;
        li {
          display: inline;
        }
      }
    }
  }

  .me {
    float: left;
    width: 150px;
    margin-right: 15px;
    border-radius: 15px;
    webkit-border-radius: 15px;
  }
}

.skills-container {
  position: fixed;
  width: 75%;
  left: 50%;
  height: 60%;
  margin: 0 0 0 -38%;
  padding: 20px;
  background-color: $transparent;
  overflow-y: scroll;

  .matrix {
    height: 400px;
  }

  .additions {
    clear: left;
  }

  &.hidden {
    display: none;
  }

  div.actions {
    text-align: right;
    padding: 0 10px 0 10px
  }

  dt {
    float: left;
    clear: left;
    width: 40%;
    margin-bottom: 30px;
  }

  dd {
    float: left;
    width: 50%;
  }

  .skill-bar {
    max-width: 70%;
    background-color: transparent;
    height: 12px;
    border-width: 2px;
    border-radius: 8px;
    border-style: solid;
    border-color: $secondaryColor;

    .skill {
      border-radius: 6px;
      height: 12px;
      background-color: $secondaryColor;
    }

    /* Skillz */
    .ruby {
      width: $skillRuby;
    }

    .php {
      width: $skillPhp;
    }

    .unix {
      width: $skillUnix;
    }

    .javascript {
      width: $skillJs;
    }

    .angular {
      width: $skillAngular;
    }

    .backbone {
      width: $skillBackbone;
    }

    .testing {
      width: $skillTesting;
    }

    .java {
      width: $skillJava;
    }
  }
}

/* General styles (should be moved) */
.icon {
  width: 23px;
  height: 20px;
  margin-bottom: 2px;
}

.stackoverflow-icon {
  background-imgage: URL('/stackoverflow.png');
  background-repeat: no-repeat;
  background-size: auto;
  height: 30px;
}

.logo {
  width: 180px;
}
