$secondaryColor: #5CB8E6;
$transparent: rgba(255, 255, 255, 0.75);

html, body {
  width: 100%;
  margin: 0;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;

  a {
    color: $secondaryColor;
    font-size: 15px;
  }
}

.container {
  height: 100%;
  background: URL('/background.jpg') no-repeat center center fixed;
  background-size: cover;
}

article.welcome {
  position: absolute;
  bottom: 0;
  width: 95%;
  min-height: 25%;
  padding: 2.5%;
  background-color: $transparent;

  section {
    margin-right: 30px;

    header {
      font-wight: bold;
      font-size: 30px;
    }

    .links {
      text-align: center;

      span {
        margin: 0px 10px 0px 0px;
      }
    }
  }

  .social-links {
    position: absolute;
    right: 20px;
    top: 0;

    ul {
      list-style: none;

      a {
        &:hover {
          fill: $secondaryColor;
        }
      }
    }

    @media (max-width: 300px) {
      position: fixed;
      ul {
        list-style-type: none;

        li {
          display: inline;
        }
      }
    }
  }

  .me {
    float: left;
    width: 150px;
    margin-right: 15px;
    border-radius: 15px;
    webkit-border-radius: 15px;
  }
}

.skills-container {
  position: fixed;
  width: 75%;
  left: 50%;
  height: 70%;
  margin: 0 0 0 -38%;
  background-color: $transparent;

  &.hidden {
    display: none;
  }

  .cancel-icon {
    position: absolute;
    right: 0;
    top: 0;
  }
}

/* General styles (should be moved) */
.icon {
  width: 23px;
}

.stackoverflow-icon {
  background-imgage: URL('/stackoverflow.png');
  background-repeat: no-repeat;
  background-size: auto;
  height: 30px;
}

.logo {
  width: 180px;
}
