$color-primary: #5CB8E6;
$color-secondary: #2FA4E7;
$transparent: rgba(255, 255, 255, 0.75);
$transparent-super: rgba(255, 255, 255, 0.55);

$logo-width: 180px;

$font-size-href: 15px;

$icon-width: 23px;
$icon-height: 20px;
$icon-margin: 2px;

$button-width: 90px;
$button-height: 30px;
$button-color: #fff;
$button-padding: 3px 10px;

/* Skill percentages */
$skill-ruby: 70%;
$skill-unix: 80%;
$skill-php: 80%;
$skill-js: 70%;
$skill-angular: 80%;
$skill-backbone: 80%;
$skill-testing: 60%;
$skill-java: 30%;

/* Screen sizes */
$breakpoint-sm: 640px;

@mixin modal() {
  position: fixed;
  width: 75%;
  left: 50%;
  height: 60%;
  margin: 0 0 0 -38%;
  padding: 20px;
  background-color: $transparent;

  div.modal-actions {
    text-align: right;
  }

  div.modal-content {
    height: 100%;
    overflow-y: scroll;
  }
}

@mixin center() {
  display: block;
  margin: 0 auto;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  width: 100%;
  margin: 0;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

a {
  color: $color-primary;
  font-size: $font-size-href;
}

h2 {
  text-align: center;
}

.hidden {
  display: none;
}

.icon {
  width: $icon-width;
  height: $icon-height;
  margin-bottom: $icon-margin;
}

.logo {
  width: $logo-width;
}

.btn-primary {
  width: $button-width;
  height: $button-height;
  color: $button-color;
  background-color: $color-secondary;
  background-image: webkit-linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
  background-image: linear-gradient(#54b4eb, #2fa4e7 60%, #1d9ce5);
  padding: $button-padding;
  border-radius: 4px;
  border: 1px solid transparent;
  vertical-align: middle;
}

.container {
  position: fixed;
  height: 100%;
  width: 100%;
  background: URL('/background.jpg') no-repeat center center fixed;
  background-size: cover;
}

article.welcome {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 20%;
  padding: 2.5%;
  background-color: $transparent-super;
  display: flex;

  section {
    flex-grow: 1;

    header {
      font-wight: bold;
      font-size: 30px;
    }

    .links {
      text-align: center;

      span {
        margin: 0px 10px 0px 0px;
      }
    }
  }

  .social-links {
    ul {
      list-style: none;
      margin: 0;

      a {
        text-decoration: none;
        &:hover {
          fill: $color-primary;
        }
      }

      .link-description {
        display: none;
      }

      @media (max-width: $breakpoint-sm) {
        position: fixed;
        top: 0;
        left: 0;
        list-style-type: none;
        li {
          display: inline;
        }
      }
    }
  }

  .me {
    float: left;
    width: 150px;
    margin-right: 15px;
    border-radius: 15px;
    webkit-border-radius: 15px;
  }
}

.skills-container {
  @include modal();

  dt {
    float: left;
    clear: left;
    width: 40%;

    @media (max-width: $breakpoint-sm) {
      width: 100%;
      margin-bottom: 5px;
      text-align: center;
    }
  }

  dd {
    float: left;
    width: 50%;
    margin-bottom: 30px;

    @media (max-width: $breakpoint-sm) {
      width: 90%;
    }
  }

  .skill-bar {
    max-width: 70%;
    background-color: transparent;
    border-width: 2px;
    border-radius: 8px;
    border-style: solid;
    border-color: $color-primary;

    .skill {
      border-radius: 6px;
      height: 12px;
      background-color: $color-primary;
    }

    /* Skillz */
    .ruby {
      width: $skill-ruby;
    }

    .php {
      width: $skill-php;
    }

    .unix {
      width: $skill-unix;
    }

    .javascript {
      width: $skill-js;
    }

    .angular {
      width: $skill-angular;
    }

    .backbone {
      width: $skill-backbone;
    }

    .testing {
      width: $skill-testing;
    }

    .java {
      width: $skill-java;
    }
  }

  .additions {
    float: left;
  }
}

.contact-container {
  @include modal();

  .form-field {
    @include center();
    width: 70%;
    margin-bottom: 10px;
  }

  .form-field-text {
    @extend .form-field;
    height: 25px;
  }

  .form-field-textarea {
    @extend .form-field;
    height: 150px;
  }

  .submit {
    @include center();
  }
}

.thanks {
  width: 100%;
  color: #fff;
  text-align: center;
  background: $color-primary;
}
