<article class="welcome">
  <div class="content">
    <img src="http://www.juco.co.uk/assets/me-50e1039deda02638510417cf00a9ed64.jpg" class="me" />
    <section>
      <header>Julian Cohen</header>
      <p>Hi! I'm a software geek with a passion for cars and shiny things. Currently working
      as a Lead Web Developer for Pure360 in Brighton.<p>
      <div class="links">
        <span><a href="#" id="skills">Skills</a></span>
        <span><a href="#">CV</a></span>
        <span><a href="#">Contact</a></span>
      </div>
    </section>
    <div class="social-links">
      <ul>
        <li><a href=#">SL</a></li>
        <li><a href=#">SL</a></li>
        <li><a href=#">SL</a></li>
      </ul>
    </div>
  </div>
</article>

<div class="skills-container">
  <p>I got skillz</p>
</div>
