<%= erb :_svg %>

<article class="welcome">
  <section>
    <img src="me.jpg" class="me" />
    <img src="/logo.png" class="logo" />
    <p>A software geek with a passion for cars and shiny things. Currently working
    as a Lead Web Developer for Pure360 in Brighton.<p>
    <p>Some more content here, blah blah blah</p>
    <div class="links">
      <span><a href="#" id="skills">Skills</a></span>
      <span><a href="#">CV</a></span>
      <span><a href="#">Contact</a></span>
    </div>
  </section>
  <div class="social-links">
    <ul>
      <li>
        <a href="http://uk.linkedin.com/in/cohenjulian/" target="_blank">
          <svg class="icon icon-linkedin" viewBox="0 0 32 32"><use xlink:href="#icon-linkedin"></use></svg>
        </a>
      </li>
      <li>
        <a href="http://github.com/juco" target="_blank">
          <svg class="icon icon-github" viewBox="0 0 32 32"><use xlink:href="#icon-github"></use></svg>
        </a>
      </li>
      <li>
        <a href="http://stackoverflow.com/users/1477466/juco" target="_blank" class="stackoverflow-icon">
          <svg class="icon icon-stack" viewBox="0 0 32 32"><use xlink:href="#icon-stack"></use></svg>
        </a>
      </li>
      <li>
        <a href="https://plus.google.com/+JulianCohen1/posts" target="_blank">
          <svg class="icon icon-googleplus" viewBox="0 0 32 32"><use xlink:href="#icon-googleplus"></use></svg>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/julian.cohen.5" target="_blank">
          <svg class="icon icon-facebook" viewBox="0 0 32 32"><use xlink:href="#icon-facebook"></use></svg></li>
        </a>
      </li>
      <li>
        <a href="http://twitter.com/juc0" target="_blank">
          <svg class="icon icon-twitter" viewBox="0 0 32 32"><use xlink:href="#icon-twitter"></use></svg>
        </a>
      </li>
    </ul>
  </div>
</article>

<div class="skills-container hidden">
  <div class="actions">
    <a href="#" id="close-skills" class="cancel-link">
      <svg class="icon icon-cross cancel-icon" viewBox="0 0 32 32"><use xlink:href="#icon-cross"></use></svg>
    </a>
  </div>
  <div class="matrix">
    <dl>
      <dt>Ruby (on rails)</dt>
      <dd>
        <div class="skill-bar">
          <div class="skill ruby"></div>
        </div>
      </dd>

      <dt>PHP</dt>
      <dd>
        <div class="skill-bar">
          <div class="skill php"></div>
        </div>
      </dd>

      <dt>Linux / Unix / OS X</dt>
      <dd>
        <div class="skill-bar">
          <div class="skill unix"></div>
        </div>
      </dd>

      <dt>Javascript / Coffeescript / Node</dt>
      <dd>
        <div class="skill-bar">
          <div class="skill javascript"></div>
        </div>
      </dd>

      <dt>Angular JS</dt>
      <dd>
        <div class="skill-bar">
          <div class="skill angular"></div>
        </div>
      </dd>

      <dt>Backbone JS</dt>
      <dd>
        <div class="skill-bar">
          <div class="skill angular"></div>
        </div>
      </dd>

      <dt>Testing (PHPUnit, Rspec, Jasmine)</dt>
      <dd>
        <div class="skill-bar">
          <div class="skill testing"></div>
        </div>
      </dd>

      <dt>Java</dt>
      <dd>
        <div class="skill-bar">
          <div class="skill java"></div>
        </div>
      </dd>
    </dl>
  </div>

  <div class="additions">
    <h3>and these:</h3>
    <ul>
      <li>Agile (Scrum, Kanban)</li>
      <li>Git, Subversion, CVS</li>
      <li>Continuous Integration (Travis, Jenkins)</li>
      <li>Deployment (Capistrano)</li>
      <li>Cloud (AWS, Heroku)</li>
      <li>Node JS</li>
    </ul>
  </div>
</div>
