<html>
  <head>
    <title>Foo</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
  <script type="text/javascript" src="/javascripts/app.js"></script>
</html>
